.box{
	padding: 2%;
	background-color: #890000 !important;
	font-weight: bold;
	color: #FFFFFF !important;
	
}


.box: hover{
	background-color: #890000 !important;
	
}

.box: hover{
	color:#FFFFFF;
	
}
#subFont{
	font-size: 12px!important;
}

